div.sticky {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
}

#sideCol {
    align-self: flex-start;
}



#writePostRectangle{
    margin-bottom: 50%;
    background-color: rgb(232, 253, 232);
    padding: 50px;
    border-radius: 30px;
    border-color: black;
    border-style:ridge;
    box-shadow: 5px 5px 5px gray;
}



.postUpFont {
    margin-bottom: 10px;
    font-size: x-large;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

#uploadInput{
    border-radius: 100px;
}

#postUploadButton{
    align-items: end;
    margin-top: 1%;
    width: 50%;
    margin-left: 25%;
}

.custom-margin-top{
    margin-top: 50%;
}

#postCol{
    align-self: center;
}

#addPostCont{
    height: 100;
}

.form-check-input-checked{
    color: green;
}

#imageAdd {
    border-color: transparent;
}

#switch {
    margin-top: 20%;
}

.component-body{
    background-color: purple;
}






