

.round-image {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    margin: 5%;
  }

  #profile-display-name{
    font-size: 100px
  }

  #postCol{
    margin-top: 100px;
    align-items: center;
    align-self: center;
}

#friendsCol{
    
    position:relative;
    margin-top: 100px;
    
}

.imageContainer {
  position: relative;
  display: inline-block;
  margin-right: 5%;
  margin-top: 2%;
}


#editPicButton
{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 10px 20px;
  background-color: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s;
}



#editDropdown {
  min-width: 180px;
}
#editProfileBtn:hover {
  cursor: pointer;
  background-color: whitesmoke;

}

